<%= @nickname %>さんのマイページ
  <% @pokemons.each do |pokemon| %>
    <%= pokemon.name %>
    <%= image_tag(pokemon.image_url, size: "200") %>
  <% end %>

  <%= image_tag @userimage, size: "200"%>

  <h1>pokemon that you favorited</h1>
    <% @fav_pokemons.each do |pokemon| %>
      <%= pokemon.name %>
      <%= image_tag(pokemon.image_url, size: "200") %>
    <% end %>

