<div class="mainimages">
  <%= image_tag 'main.jpeg', style: "height: 700px; width: 100%" %>
  <a href="new_user_registration_path">
    <h1>Let's Start !!</h1>
  </a>
</div>

<div class="container">
  <div class="row maintext">
    <h2 class="col s12 center-align">Catch and Share </h2>
    <div class="row center-align icons">
      <div class="col s4">
        <i class="large material-icons">search</i>
        <h5>search your Pokemons</h5>
      </div>
      <div class="col s4">
        <i class="large material-icons">library_add</i>
        <h5>add pokemons</h5>
      </div>
      <div class="col s4">
        <i class="large material-icons">mood</i>
        <h5>collect and share it </h5>
      </div>
    </div>

    <div class="col s12 center-align" style="margin-bottom: 50px;">
      <%= render "shared/search", { path: new_pokemon_path } %>
    </div>

    <div class="row">
      <div class="col s12 center-align pokemaintext">
        <h3>Pokemons that all member cought</h3>
      </div>
    </div>
    
    <div class="poketeble">
      <table>
        <tr>
          <th></th>
          <th>No</th>
          <th>Name</th>
          <th>Trainer</th>
          <th>Favorite</th>
          <th>Detail</th>
        </tr>
        <% if @pokemons.present? %>
        <% @pokemons.each do |pokemon| %>
        <tr>
          <td><%= image_tag(pokemon.image_url, size: "200") %></td>
          <td><%= pokemon.order %></td>
          <td><%= pokemon.name %></td>
          <td><a href="/users/<%= pokemon.user.id %>">
              <%= pokemon.user.nickname %>
            </a></td>

          <td class="center-align" id="like-link-<%= pokemon.id %>">
            <%= render partial: 'favorites/favorite', locals: {pokemon: pokemon} %>
          </td>

            <td><%= link_to 'Details', "/pokemons/#{pokemon.id}", {method: :get} %></td>
        </tr>
        <% end %>
        <% end %>
      </table>
      </div>

    </div>
</div>