<h1>All Pokemons that all members cought !!</h1>
<p>you wanna cought pokemon, you must login or signup as a member :)</p>
<%= render "shared/search", { path: new_pokemon_path } %>

<div>
  <% if @pokemons.present? %>
    <% @pokemons.each do |pokemon| %>
      <div style="display: inline-block;">
        No. <%= pokemon.order %>,
        Name: <b><%= pokemon.name %></b>
      </div>
      <div>
        <%= image_tag(pokemon.image_url, size: "200") %>
      </div>
      <div>
        <%= link_to 'Release', "/pokemons/#{pokemon.id}", method: :delete %>
      </div>
  <% end %>
  <% end %>
</div>