<h1>Pokemons that all members cought !!</h1>
<p>you wanna cought pokemon, you must login or signup as a member :)</p>
<%= render "shared/search", { path: new_pokemon_path } %>

<div style="display: flex; justify-content: left; max-width: 100%">
  <% if @pokemons.present? %>
    <% @pokemons.each do |pokemon| %>
      <div>
        <ul>
          <li>No. <%= pokemon.order %>,</li>
          <li>Name: <%= pokemon.name %></li>
          <a href="/users/<%= pokemon.user.id %>">
            <li>Trainer: <%= pokemon.user.nickname %></li>
          </a>
          <% if user_signed_in? && current_user.id == pokemon.user_id%>
            <li><%= button_to 'Release', "/pokemons/#{pokemon.id}", {method: :delete} %></li>
          <% end %>
          <li><%= link_to 'Details', "/pokemons/#{pokemon.id}", {method: :get} %></li>
        </ul>
      </div>
      <div>
        <%= image_tag(pokemon.image_url, size: "200") %>
      </div>
      

      <!-- 追加 -->
      <% if user_signed_in? %>

        <% if pokemon.favorited_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
            <p><span>お気に入り解除: </span><%=link_to pokemon.favorites.count, pokemon_favorites_path(pokemon.id), method: :delete %></p>
        <% else %>
            <p><span>お気に入り登録: </span><%=link_to pokemon.favorites.count, pokemon_favorites_path(pokemon.id), method: :post %></p>
        <% end %>
        
      <% else %>
        <p><span>お気に入り数: </span><%= pokemon.favorites.count %></p>
      <% end %>
  <!-- ここまで -->


    <% end %>
  <% end %>
</div>
