<h1>Caught a new Pokemon!!</h1>
<%= render "shared/search", { path: new_pokemon_path } %>
<div>
  <% if @pokemon.present? %>
    <table>
      <tr>
        <td>No.</td>
        <td><%= @pokemon.order %></td>
      </tr>
      <tr>
        <td>Name:</td>
        <td><%= @pokemon.name %></td>
        <td><%= @pokemon.type1 %>, <%= @pokemon.type2 %></td>
        <td><%= @pokemon.description %></td>
      </tr>
    </table>
    <%= image_tag(@pokemon.image_url, size: "200") %>

    <%= form_with model: @pokemon, local: true do |f| %>
      <%= f.hidden_field :order %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :image_url %>
      <%= f.hidden_field :type1 %>
      <%= f.hidden_field :description %>
      <%= f.submit 'GET!!', name: nil %>
    <% end %>

  <% else %>
    <p>Enter any number from 0 to 800 ;)</p>
  <% end %>
</div>