<div class="container">
  <div class="poketeble">
      <table>
        <tr>
          <th></th>
          <th>No</th>
          <th>Name</th>
          <th>Type</th>
          <th>Trainer</th>
          <th>Favorite</th>
          <% if current_user.id == @pokemon.user.id %>
          <th>Rlease</th>
          <% end %>
        </tr>
        <% if @pokemon.present? %>
        <tr>
          <td><%= image_tag(@pokemon.image_url, size: "200") %></td>
          <td><%= @pokemon.order %></td>
          <td><%= @pokemon.name %></td>
          <td><%= @pokemon.type1 %></td>
          <td><a href="/users/<%= @pokemon.user.id %>">
              <%= @pokemon.user.nickname %>
            </a></td>

          <td class="center-align"><% if user_signed_in? %>
            <% if @pokemon.favorited_by?(current_user) %>
            <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
            <div class="fav-icons">
              <%= link_to pokemon_favorites_path(@pokemon.id), method: :delete  do %>
                <i class="samll material-icons">thumb_up</i>
              <% end %>
                <p><%= @pokemon.favorites.count %></p>
            </div>

            <% else %>

            <div class="not-fav">
            <%=link_to pokemon_favorites_path(@pokemon.id), method: :post  do %>
              <i class="samll material-icons">thumb_up</i>
            <% end %>
              <p><%= @pokemon.favorites.count %></p>
            </div>
            <% end %>
            <% else %>
            <p><span>Number of favorites: </span><%= pokemon.favorites.count %></p>
            <% end %></td>

<%# 削除ボタン %>
            <div class="release-btn">
              <% if current_user.id == @pokemon.user.id %>
                <td><%= link_to "/pokemons/#{@pokemon.id}", method: :delete do %>
                  <i class="samll material-icons">mood_bad</i>
                <% end %>
              <% end %>
              </td>
            </div>
            
        </tr>
        <% end %>
      </table>
  </div>

<%# ポケモンテキスト %>
  <div class="desc">
    <% if @pokemon.present? %>
    <div class="card">
      <div class="card-content white-text">
        <span class="card-title center-align">Flaver text</span>
        <p class="center-align"><%= @pokemon.description %></p>
      </div>
    </div>
    <% end %>
  </div>

<%# コメントフォーム %>
<div class="comment-area">
    <div class="col s8">
      <div class=" input-field comment_form center-align">
        <% if current_user %>
          <div class="row">
            <%= form_with(model: [@pokemon, @comment], local: true) do |form| %>
              <div class="col s6">
              <%= form.text_area :text, placeholder: "Comment", class: "materialize-textarea"%>
              </div>
              <div class="col s2">
              <a class="waves-effect waves-light btn-small btn-flat comment-btn" 
                style="margin-left: -50px; background-color: #F8CD9E;"><%= form.submit 'send'%></a>
              </div>
            <% end %>
            </div>
          <% else %>
            <p>ログインが必要です</p>
          </div>
          <% end %>
      </div>
    </div>
</div>


<%# コメント %>
  <div class="row">
    <div class="col s12">
      <% if @comments %>
        <% @comments.each do |comment| %>
        <div class="card comment_card">
          <div class="card-content comment_name">
            <%= image_tag comment.user.image.url, size: "50"%>
            <a href="/users/<%= comment.user.id %>" style="border: none; margin-top: 18px; margin-left: 10px;">
              <p><%= comment.user.nickname %></p>
            </a>
          </div>
          <div class="card-content comment_text">
            <%= comment.text %>
            <%=link_to "/pokemons/#{@pokemon.id}/comments/#{comment.id}", method: :delete do %>
              <i class="samll material-icons">delete</i>
            <% end %>
          </div>
          <p><span>good: </span><%=link_to "#", comment_goods_path(comment.id), method: :post %></p>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <div class="footer">
  </div>

</div>