<!DOCTYPE html>
<html>
  <head>
    <title>PokeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="root_path" class="brand-logo">Poke-App</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <li><a href="#"><%= link_to "Mypage", "/users/#{current_user.id}" %></a></li>
            <li><a href="#"><%= link_to  "NEW", "/pokemons/new", class: "post" %></a></li>
            <li><a href="#"><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></a></li>
          <% else %>
            <li><a href="#"><%= link_to "Login", new_user_session_path, class: 'post' %></a></li>
            <li><a href="#"><%= link_to "SignUp", new_user_registration_path, class: 'post' %></a></li>
            <li><a href="#"><%= link_to 'HOME', pokemons_path %></a></li>
          <% end %>
        </ul>
      </div>
    </nav>

      <%= yield %>
    </div>
    
  </body>
</html>
