<!DOCTYPE html>
<html>
  <head>
    <title>PokeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            <%= link_to  "Caught Pokemon", "/pokemons/new", class: "post" %>
            <%= link_to 'HOME', root_path %>
            Name: <b><%= current_user.nickname %></b>
            <%= link_to "Mypage", "/users/#{current_user.id}" %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "Login", new_user_session_path, class: 'post' %>
            <%= link_to "SignUp", new_user_registration_path, class: 'post' %>
            <%= link_to 'HOME', pokemons_path %>
          </div>
        <% end %>
      </div>
    </header>


    <% if flash[:notice] %>
      <div><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
